/* 
    監視画面一覧の一覧そのものに対するスタイルと、個別の監視画面に対するスタイルを定義している。
    コンポーネント的には個別の監視画面だけ切り出して設定すべきかも。
    author: sim1dime
 */

.screen-list {
    display: flex;
    flex-wrap: wrap;
}
.screen-list .target-screen {
    position: relative;
    display: inline-block;
    --screen-width: 240px;
    width: var(--screen-width);
    /* 監視対象画面は16:9ディスプレイを想定して縦幅を計算する。また+1emはタイトル表示をちょっとずらす余地を確保するため。 */
    height: calc(var(--screen-width) * 9 / 16 + 1em);
    margin: 4px;
    padding: 0;
    background-image: none;
    background-color: dimgrey;
    color: white;
}

.screen-list .target-screen .header {
    position: absolute;
    z-index: 30;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    opacity: 0.45;
}
.screen-list .target-screen .header:hover {
    opacity: 0.7;
}

.screen-list .target-screen .header .hostname {
    display: inline-block;
    align-self: center;
    margin: 0;
    padding-left: 0.5em;
    opacity: 1;
    font-weight: bold;
}

/* 監視対象画面ごとの右上×ボタンを作っていたがいったん非表示にする。 */
.screen-list .target-screen .header .close-button {
    visibility: hidden;
    display: inline-block;
    align-self: center;
    margin: 0;
    padding-right: 4px;
    line-height: 0.9;
    opacity: 1;
}
.target-screen .header .close-button:hover {
    margin-top: 2px;
    margin-bottom: 4px;
    padding: -4px;
    line-height: 0.7;
    border: solid 2px white;
}

/* 
  ikonate.comで生成、ダウンロードした「×」アイコン用インラインSVGに当初から設定されているスタイル設定。
*/
.close-button svg {
    width: 24px;
    height: 24px;
    stroke: #ffffff;
    stroke-width: 2;
    stroke-linecap: square;
    stroke-linejoin: miter;
    fill: none;
    color: #ffffff;
}

.screen-list .target-screen .screen-image {
    position: absolute;
    z-index: 20;
    top: 1em;
    left: 0px;
    width: var(--screen-width);
    /* heightはwidthだけ指定すれば親divに合わせて自動的にあってくれるはず…… */
}

.screen-list .no-image-message {
    position: relative;
    z-index: 10;
    top: 45%;
    margin: auto;
    text-align: center;
}