<!doctype html>

<html lang='ja'>
<head>
  <meta charset='utf-8'>

  <title>監視対象画面一覧</title>
  <meta name='description' content='監視画面です。'>
  <meta name='author' content='sim1dime'>
  <link rel='stylesheet' href='watcher.css'>
  <link rel='stylesheet' href='target-screen.css'>
  <script src="https://unpkg.com/vue@next"></script>
  <!-- 
    上のscript要素について、このHTMLがインターネットにつながらない環境で使うときはVue.js（Vue3）のCDN版を
    入手して次のように直接ローカルで参照する。
    <script src="vue.global.prod.js"></script>
   -->
</head>

<body>
  <div id='app'>
    <div id="title-and-buttons" class='titlebar'>
      <div class="title">
        <h1>監視対象画面一覧</h1>
      </div>
      <div class="buttons">
        <button id='button-start-watching' class='form-field is-danger' v-bind:disabled="isAutoRefresh" @click='isAutoRefresh = true'>監視開始</button>
        <button id='button-stop-watching' class='form-field' @click='isAutoRefresh = false'>監視停止</button>
        <button class='form-field' @click='toggleConfigurationVisibility'>設定画面表示・非表示</button>
      </div>
    </div>
    <div id='configuration-panel' class='configuration' :class='{"is-expanded": showConfiguration, "is-shurinked": !showConfiguration}'>
      <h2>設定</h2>
      <p>画像サイズとアスペクト比はすべての画面での共通設定です。異なるアスペクト比の画面では画面下部が見えなくなる可能性があります。
        ポート番号は変更後Enterキーですぐ反映されます。更新間隔を自動監視中に変更すると監視が止まります。再度手動での監視開始が必要です。</p>
      <div id='general-configuration'>
        <div id='zoom-in-zoom-out'>
          <label for='image-width'>画像サイズ:
            <select name='image-width' id='image-width' class='form-field' v-model='screenImageWidth'>
              <option value='240'>極小（240px）</option>
              <option value='320'>小（320px）</option>
              <option value='400'>中（400px）</option>
              <option value='600'>大（600px）</option>
              <option value='1280'>最大（1280px）</option>
            </select>
          </label>
          <svg role="img" xmlns="http://www.w3.org/2000/svg" width="24" height="24" 
          viewBox="0 0 24 24" aria-labelledby="zoomInIconTitle" v-on:click='enlargeTargetScreenSizeOneStep()'>
            <title id="zoomInIconTitle">拡大</title>
            <path d="M4,20 L9.58788778,14.4121122"></path>
            <path d="M14,16 C10.6862915,16 8,13.3137085 8,10 C8,6.6862915 10.6862915,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,13.3137085 17.3137085,16 14,16 Z"></path>
            <path d="M16.6666667 10L11.3333333 10M14 7.33333333L14 12.6666667"></path>
          </svg>
          <svg role="img" xmlns="http://www.w3.org/2000/svg" width="24" height="24" 
          viewBox="0 0 24 24" aria-labelledby="zoomOutIconTitle" v-on:click='reduceTargetScreenSizeOneStep()'>
            <title id="zoomOutIconTitle">縮小</title>
            <path d="M14,16 C10.6862915,16 8,13.3137085 8,10 C8,6.6862915 10.6862915,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,13.3137085 17.3137085,16 14,16 Z"></path>
            <path d="M16.6666667 10L11.3333333 10M4 20L9.58788778 14.4121122"></path>
          </svg>
        </div>
        
        <label for='aspect-ratio'>画像アスペクト比:
          <select name='aspect-ratio' id='aspect-ratio' class='form-field' v-model='aspectRatio'>
            <option value='16:9'>16:9</option>
            <option value='4:3'>4:3</option>
            <option value='5:4'>5:4</option>
          </select>
        </label>
        <label for='interval'>画面更新間隔（秒）:
          <input class='form-field' type='number' id='interval' min='1' max='300' v-model='refreshInterval'>
        </label>
        <!-- ポート番号は編集中に毎回反映されると大変なので、Enterで確定したらにする。 -->
        <label for='port-number'>ポート番号:
          <input class='form-field' type='text' id='port-number' ref='portNumber' maxlength='6' pattern='[0-9]{1,5}' v-bind:value='portNumber' v-on:keyup.enter='applyPortNumber'>
        </label>
      </div>
      <div id='target-configuration'>
        <label for='target-csv'>監視対象指定リスト<a href='list-help.html' target='_blank'>（指定リストのヘルプ）</a>:        </label>
        <textarea class='form-field' id='target-csv' rows='10' cols='40'
          placeholder='監視対象1台ごとに1行で「<ホスト名・IPアドレス>[,<コメント>]」を記述してください（コメントはなくてもOK）。
          &#13;&#10;例：&#13;&#10;192.168.0.1,山田太郎さん操作&#13;&#10;Host10,予備マシン'></textarea>
        <button class='form-field' name='apply-targets' id='apply-targets' @click='applyTargetCsv'>リスト反映</button>
      </div>
    </div>

    <!-- ここからtarget-screenコンポーネントを使って、監視対象の数だけ繰り返して画面を表示する -->
    <div class='screen-list'>
      <p v-if='targets.length == 0'>監視対象がありません。設定画面で監視対象リストを入力し反映してください。</p>
      <!--:widthについては、t.width だけだと型不一致警告が出る。あとここはケバブケースで指定する。 -->
      <target-screen 
        v-for='t in targets'
        :key='t.id'
        :host='t.host'
        :image-url='t.imageUrl'
        :width='Number(t.width)'
        :height='calculatedImageHeight'
        :comment='t.comment'
        :count='t.count'
        @screen-double-click='showSingleScreen'
      ></target-screen>
    </div>
  </div> 
  <!--Vueのアプリケーションが適切に要素をマウントするためには最後に呼び出す。 -->
  <script src='watcher.js'></script>
</body>
</html>