/* author: sim1dime */
/* --------------------- general elements style ---------------- */

body {
    margin: 16px;
    font-family: "Helvetica Neue", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}

h1 {
    font-size: 90%;
    line-height: 1;
}
h2 {
    margin: 0;
    margin-bottom: 0.5em;
    line-height: 1;
}

button {
    padding: 0.5em;
    border: none;
    border-radius: 4px;
    background-color: dodgerblue;
    color: white;
    font-size: 110%;
}
button:hover {
    background-color: deepskyblue;
}
button:active {
    background-color: dodgerblue;
    box-shadow: inset;
}
button:focus {
    border: solid 1px darkblue
}

button.is-danger {
    background-color: orangered;
}
button.is-danger:hover {
    background-color: crimson;
}
button.is-danger:active {
    background-color: orangered;
}
button.is-danger:disabled {
    background-color: lightgray;
    color: darkgray;
}


input,select,textarea {
    border-radius: 4px;
    border: solid 1px navy;
    font-family: "Helvetica Neue", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-size: 110%;
}
input:out-of-range {
    background-color: pink;
}
label {
    margin-left: 1em;
    font-weight: bold;
}

/* --------------------- class style ---------------- */

#app {
    margin: 0;
    padding: 0;
}

/* ---- タイトルバー ----*/
.titlebar {
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-left: 1em;
    padding-right: 1em;
    background-color: mediumslateblue;
    color: white;
}
.titlebar .title {
    font-size: xx-large;
    font-weight: bold;
}
.titlebar .buttons {
    display: flex;
    column-gap: 4px;
    margin-top: auto;
    margin-bottom: auto;
}

/* ---- 設定画面 ---- */
#configuration-panel {
    margin-top: 0;
    margin-bottom: 1em;
    padding: 1em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: lavender;
}
.is-expanded {
    height:auto;
}
.is-expanded * {
    visibility: visible;
}
.is-shurinked {
    height: 0.5em;
 }
 /* 縦幅を狭くしただけだと中身が見えてしまうのでdiv単位でhiddenにする。 */
.is-shurinked * {
    visibility: hidden;
}

/* ---- 監視画面共通設定 ---- */
#general-configuration {
    display: flex;
    margin-bottom: 0.5em;
}
#zoom-in-zoom-out {
    display: flex;
}
/* ---- 監視対象リスト設定 ---- */
#target-configuration {
    display: flex;
    padding-top: 0.5em;
    column-gap: 1em;
    border-top: solid 1px mediumslateblue;
}
#target-configuration label {
    align-self: flex-start;
}
#target-configuration button {
    align-self: flex-end;
}



/* インラインで使用しているikonate.comの拡大・縮小アイコン用スタイル */
#configuration-panel svg {
    margin: 0;
    height: 1.5em;
    stroke: #000000;
    stroke-width: 1.5;
    stroke-linecap: square;
    stroke-linejoin: miter;
    fill: none;
    color: #000000;
}

#configuration-panel svg:hover {
    border: solid 2px black;
}
#configuration-panel svg:active {
    border: solid 2px orangered;
}